/*Template General*/
div.cont-seg{
	overflow-y:scroll; 
	height:200px;
	padding:10px 10px 10px 10px; 
	font-size:12px;
	border-radius:4px;
    border-color: #831F47;
    outline: 1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 1px rgba(131, 31, 71, 0.6);
}
div.cont-verder{
	overflow-y:scroll;
	height:50px;
	padding:10px 10px 10px 10px; 
	font-size:12px;
	border-radius:4px;
    border-color: #831F47;
    outline: 1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 1px rgba(131, 31, 71, 0.6);
}
div.cont-infoval{	
	padding:10px 10px 10px 10px; 
	font-size:12px;
	border-radius:4px;
    border-color: #831F47;
    outline: 1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 1px rgba(131, 31, 71, 0.6);
}
div.cont-infopai{	
	padding:10px 10px 10px 10px; 
	font-size:12px;
	border-radius:4px;
    border-color: #831F47;
    outline: 1;
	height:100px;
	overflow-y:scroll;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 1px rgba(131, 31, 71, 0.6);
}

div.cont-f-seg{
	overflow-y:scroll; 
	height:200px;
	padding:10px 10px 10px 10px; 
	font-size:12px;
	border-radius:4px;
    border-color: #831F47;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 1px rgba(131, 31, 71, 0.6);
}
p.cont-inf{
	display:block;
	width:100%;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}	


.app-head{
    margin: 0 !important;
    padding: 20px 0px 10px 0px !important;
    font-size: 12px;
    min-height: 40px;
    background-color: #ebebeb;
    border-top: 3px solid #831F47;
    background-color: transparent;
}
.app-logo{
    width: 100%;
    text-align: center;
}

.app-menu{
	min-height: 24px;
    background-color: rgba(0,173,230,1) !important;
    border: 0px;
    border-bottom: 4px rgba(0,66,104,1) solid !important;
}

.app-menu .navbar-nav li a:hover{
    color: #555;
    background-color: #e7e7e7;
    /*border-top:1px solid #831F47 !important;*/

}

.app-menu .navbar-toggle:hover{
    background-color: white !important;

}
.app-menu .navbar-toggle:focus{
    background-color: transparent !important;

}
.app-menu-links{
	background-color: rgba(0,173,230,1) !important;
}

.app-content-1{
    padding: 5px 10px 60px 10px;
}

.app-content-2{
    padding: 40px 0px 10px 0px;
}
.app-user{
    padding-right: 50px;
    padding-top: 10px;
    font-size: 14px;
    font-family: arial;
    color: #B7B7B7;
}
.app-footer{
    margin: 0 !important;
    padding: 20px 0px 0px 0px !important;
    font-size: 12px;
    background-color: #ebebeb;
}
.app-footer-text{
    padding-top: 20px;
    padding-bottom: 38px;
}
.app-footer-text .oneFooter{
    font-family: Verdana;
    letter-spacing: 1px;
    margin: 0px;
    line-height: normal;
    font-weight: normal;
    color: #484848;
    font-size: 18px;
}
.app-lineafooter{
    font-family: Arial;
    font-size: 10px;
	background-color: rgba(0,173,230,1) !important;
    color: #3c3c3c;
    color: white;
    border-bottom: 2px rgba(0,173,230,1) solid;
    border-top:2px rgba(0,173,230,1) solid;
    text-align: center;  
}
.app-btn-1{
    background-color: #831F47;
    color: white;
    text-shadow: none;
}
.color-sdis{
    background-color: rgba(0,173,230,1) !important;
    color: white !important;
}
.app-title{
    color: #484848;
    font-size: 19px;
}
.app-sub-title{
    margin: 0px;
    line-height: normal;
    font-weight: normal;
    color: #6A6A6A;
}
.grid-160{
    height: 160px;
}
.white{
    color: white !important;
}
.app-color-section{
    background-color: #999 !important;
}
.btn-sdis{
	background-color: rgba(0,173,230,1) !important;
	color:white !important
}
.btn-sdis:hover{
 background-color: rgba(0,66,104,1) !important;
}
/*Modal*/
.modal-header{
    background-color: #831F47 !important;
    color:white !important;
    border-radius: 5px 5px 0px 0px;
}
.modal .close{
    color:white !important;
    text-shadow:none !important;
    opacity:1 !important;
    filter:alpha(opacity=100);
}
.app-menu .nav li a{
    color:white;
    text-shadow:none;
}
.app-menu .app-menu-links .dropdown-menu li a{
    color: gray;
}


/*  Loader  */
.loader{
    width: 100%;
    height: 30px;
    background-image: url('../img/loader.gif');
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}
.text-justify{
    text-align: justify;
}
@media(max-width:767px){

    html{
        min-width: 260px;
    }
    .text{
        padding: 20px 0px;
        text-align: center;

    }
    .app-user{
        text-align: center;
        padding-right: 0px !important;
        padding-top: 20px !important;
    }
    .app-head-desktop{
        height: 350px;
    }
    .app-lineafooter {
        margin-top: 30px !important; 

    }
    .app-footer-text{
        text-align: center;
        padding: 20px 0px;
    }
    .app-logo{
        width: auto;
        text-align: center;
    }

    .label{
        white-space: normal !important;
        display: block;

    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #e7e7e7;
    }

}
@media(min-width:768px){

}

@media(min-width:992px){

}

@media(min-width:1200px){

    .app-head-desktop .app-title{
        margin-top: 9px;
    }
}


.form-control:focus {
    border-color: #831F47;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(131, 31, 71, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(131, 31, 71, 0.6);
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
     float: left;
}